<html>
<script>
// function myFunction() {
// window.print();
// }
function printpage() {
//Get the print button and put it into a variable
var printButton = document.getElementById("printpagebutton");
//Set the print button visibility to 'hidden' 
printButton.style.visibility = 'hidden';
//Print the page content
window.print()
//Set the print button to 'visible' again 
//[Delete this line if you want it to stay hidden after printing]
printButton.style.visibility = 'visible';

}


// function goBack() {

// window.history.back();
// display : none;


// } 


</script>
<head>

	<title></title>
	  
  	   
	<style >

		#table_style { 	  
			 font-size: 20px;
		}
		.one{
  				border: 1px solid #dddddd collapse;
  				text-align: left;
  				padding: 2px;
		}
		#table_style,th,td{
			border: 2px black collapse;
		}
		table{
			width: 100%;
			font-size: 20px;
		}
		.one,th ,td{
			border: 2px black collapse;
		}

	</style>

</head>
<body>
	 <fieldset>
		<a class="logo"><img src="http://www.exalogic.in/wp-content/uploads/2018/08/exalogic.png" style="width:250px;">
			<center><h2 style="color: black;font-size: 30px;padding: 0%;">Exalogic Solution Pvt Ltd</h2> 
			<h2 style="color: black;font-size: 20px;padding: 0%;">22, GangaNagar 1st Main Road,Bangalore 560032 INDIA</h2>
			<hr size="2">
				<p style="font-size: 20px;"><strong><u><%= @user.select_month%>  Payslip</u></strong></p>
			<hr>
		</center>
		<br>
		 
		<center> 
		<table>
		<tr>
			<td>
				<strong><u>Employee id :</u> </strong><%= @salary.employee_id%></td>
			<td>
				<strong><u>Name :</u> </strong><%= @user.fname%></td>	
				 
		</tr>
		<tr>
			<td><strong><u>Department :</u> </strong><%= @user.department%></td>
				 
	 
			<td><strong><u>Designation :</u> </strong><%= @user.designation%></td>
			
		</tr>
		<tr>
			<td><strong><u>Bank Ac.no :</u> </strong><%= @salary.bank_acc_num%></td>
			<td><strong><u>PF/ESI :</u> </strong> Not Applicable</td>
			
		</tr>
		<tr>
			<td><strong><u>Date of joining :</u> </strong><%= @user.doj%></td>
			<td><strong><u>Number of Days :</u> </strong> 31</td>
			
		</tr>

	</table>
	<hr>
	</center>
	 <br>
	<br>
	<div class="container">
	<table id="table_style" class="table table-bordered"> 
		 
        <caption style="font-weight: bold; border: 2px black collapse;">DETAILS</caption>  
        <tr class="one">
            <th>Earnings</th> 
            <th>Amount</th> 
            <th>Deductions</th> 
            <th>Amount</th> 
        </tr> 
        <tr class="one"> 
            <td>Basic Pay</td> 
            <td><%= @salary.basic_pay%></td>
            <td>Professional Tax </td>
            <td><% if (@salary.basic_pay + @salary.hra + @salary.cca + @salary.reimbursement + @salary.special_allowance + @salary.transport_allowance).to_i >= 15000%>
            	<%= temp1=200 %>
            <% else %>
            	<%= temp1=0 %>
            <% end %>
            </td>

            
        </tr> 
        <tr class="one"> 
            <td>HRA</td> 
            <td><%= @salary.hra%></td>
            <td>LP</td>
            <td><%= temp2 = (((@salary.basic_pay+@salary.hra+@salary.cca+@salary.reimbursement+@salary.special_allowance+@salary.transport_allowance)/30)*@salary.loss_of_pay).to_i%></td>
            
        </tr> 
        <tr class="one"> 
            <td>CCA</td> 
            <td><%= @salary.cca%></td>
            <td></td>
            <td></td>
            
        </tr> 
        <tr class="one"> 
            <td>Special Allowance</td> 
            <td><%= @salary.special_allowance%></td>
            <td></td>
            <td></td>
        </tr> 
        <tr class="one"> 
            <td>Transport Allowance</td> 
            <td><%= @salary.transport_allowance%></td>
            <td></td>
            <td></td>
            
        </tr> 
        <tr class="one"> 
            <td style="font-weight: bold; text-decoration: underline;">Total Earnings</td> 
            <td><%= gross = @salary.basic_pay+@salary.hra+@salary.cca+@salary.reimbursement+@salary.special_allowance+@salary.transport_allowance %></td>
            <td style="font-weight: bold;text-decoration: underline;">Total Deductions</td>
            <td><%= dedt= temp1+temp2 %></td>
            
        </tr> 
        <tr class="one"> 
            <td ></td> 
            <td></td>
            <td style="font-weight: bold;text-decoration: underline;">Net Pay: </td>
            <td><%=  (gross-dedt).to_i %></td>	
		</tr>
	</table>
</div>
<table >
		<tr class="one">
			<td>
				<strong>Net Pay (in words):</strong></td>
			<td>
				  
					<%= (gross-dedt).to_i.humanize.upcase  %> RUPEES ONLY.
				 
			</td>
		</tr>
	</table>
	<br>
	<hr>

	<center><p style="font-weight: bold">***This is system generated payslip and does not require signature</p></center>
	 
	<hr size="2">
	</fieldset>



 
 	 	
</body>
<center><input id="printpagebutton" type="button" value="Print & Save as PDF" onclick="printpage()"/></center>
</html>